.item-red, .item-blue, .item-green{
    width: 200px;
    height: 200px;
    background-color: red;
    position: absolute;
    left: 100px;
    top: 100px;
}
.item-blue{
    background-color: blue;
    left: 200px;
    top: 200px;
}
.item-green{
    background-color: green;
    left: 150px;
    top: 150px;
    transition: 2s;
}
.item-green:hover{
    width: 300px;
    height: 300px;
    rotate: -45deg;
}